                    </div><!-- end main-center-content -->
                    <div id="main-right-column" class="col-md-2 hidden-sm hidden-xs">
						<div class="panel panel-default">
							<div class="panel-heading">Something here</div>
							<div class="panel-body">
							</div>
						</div>
					</div><!-- end main-right-column -->
				</div><!-- end main-content-area -->

                <div id="main-title-area2" class="row container-fluid" style="margin-left: 0px; margin-right: 0px">
					<div class="col-md-12">
						<hr />
                        <p>Powered by <a href="https://pages.github.com/" target="_blank">GitHub Pages</a></p>
                        <p>More soon</p>
					</div>
                </div><!-- end main-footer-area -->
                
			</div>
		</div>	
    </body>
</html>